<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Compass.Compass" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="Compass" android:icon="@drawable/Icon" android:theme="@android:style/Theme.Material.Light"></application>
</manifest>